@import "fonts.css";
@import "ghost.css";
@import "vars.css";

/* Disable scrolling inside iframe */
body, html {
  overflow: hidden;
  font-size: var(--step--1);
  font-family: var(--font-sans-serif);
  font-weight: 300;
}

/* Comment HTML styles */

/* This makes sure we can have empty lines in comments (= <p></p>) */
.gh-comment-content p:empty::after {
  content: "\00A0";
}

/* Links */
.gh-comment-content a {
  word-break: break-word;
  text-decoration: underline;
  color: var(--gh-accent-color);
}

/* Blockquotes */
.gh-comment-content blockquote {
  border-left: 3px solid rgba(13,13,13,.1);
  padding-left: 1rem;
  margin: 0 0 1.2rem;
}

/* Paragraphs */
.gh-comment-content p {
  margin: 0 0 1.2rem;
}

.gh-comment-content p:last-child,
.gh-comment-content blockquote:last-child {
  margin: 0;
}

/* The following lines are needed for the editor */

/* Placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  color: rgb(212 212 212 / 1);
}

.ProseMirror * {
  white-space: pre-wrap;
  word-wrap: break-word;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.ghost-display {
  display: block !important;
}

h2, h4 {
  font-family: var(--font-serif);
  font-weight: 500;
}

h2 {
  font-size: var(--step-0);
}

.font-sans {
  font-family: var(--font-sans-serif);
}

h1.font-sans, h2.font-sans, h4.font-sans {
  font-family: var(--font-serif);
}

.text-\[24px\] {
  font-size: var(--step-1);
}

.text-\[1\.6rem\] {
  font-size: var(--step-0);
}

.text-\[17px\] {
  font-size: var(--step--1);
}

.text-\[16px\] {
  font-size: var(--step--1);
}

.text-\[15px\] {
  font-size: var(--step--2);
}

.text-\[14px\] {
  font-size: var(--step--2);
}

.tracking-tight {
  letter-spacing: unset;
}

.font-bold {
  font-weight: 600;
}

h1.font-bold, h2.font-bold, h4.font-bold {
  font-weight: 500;
}

.text-sm {
  font-size: var(--step--2);
}